/* -------------------------------------------------------------------
  RESETS
---------------------------------------------------------------------- */

html,
body,
h3 {
    margin: 0;
    padding: 0;
}


/* -------------------------------------------------------------------
  BASE
---------------------------------------------------------------------- */

body {
    background-color: #f7f7f7;
    color: #101010;
    /*font-family: "Inconsolata", monospace; */
    /* font-family: 'Source Code Pro', monospace; */
    font-family: 'Fira Mono', monospace;
    font-size: 0.8em;
}

h3 {
    display: inline;
    font-size: 1.1em;
}

a,
a:visited {
    display: block;
    padding-top: 3px;
    color: #101010;
    text-decoration: none;
}

a:hover {
    background-color: #ababab;
}


/* -------------------------------------------------------------------
  COLOURS
---------------------------------------------------------------------- */

.blue {
    color: #268bd2;
}

.cyan {
    color: #2aa198;
}

.green {
    color: #859900;
}

.magenta {
    color: #d33682;
}

.orange {
    color: #cb4b16;
}

.red {
    color: #dc322f;
}

.violet {
    color: #6c71c4;
}

.yellow {
    color: #b58900;
}

.base01 {
    color: #586e75;
}


/* gray*/

.arcblue {
    color: #464646;
}


/* -------------------------------------------------------------------
  LAYOUT
---------------------------------------------------------------------- */

#container {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 20px;
    width: 900px;
    height: auto;
}

#searchbox {
    margin: 4px;
    padding: 8px;
    background-color: #414A59;
    border: 5px solid #414A59;
    /*  -webkit-box-shadow: 1px 1px 10px 0px #000;
     -moz-box-shadow: 1px 1px 10px 0px #000;
          box-shadow: 1px 1px 10px 0px #000;*/
}

#links {
    display: -moz-box;
    display: -webkit-box;
    width: 100%;
}

.box {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    margin: 4px;
    padding: 8px;
    background-color: #b9b9b9;
    border: 5px solid #b9b9b9;
    /* -webkit-box-shadow: 1px 1px 10px 0px #000;
     -moz-box-shadow: 1px 1px 10px 0px #000;
          box-shadow: 1px 1px 10px 0px #000;*/
}


/* -------------------------------------------------------------------
  SEARCH
---------------------------------------------------------------------- */

form {
    display: inline;
}

input {
    display: inline;
    width: 64%;
    background: none;
    border: none;
    color: #D3DAE3;
    font-size: 1em;
    font-family: 'Fira Mono', monospace;
}
